{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefielduser_id">user_id</label><select id="somefielduser_id" name="user_id"><option value="novalue">no value</option>
{% for someuser in touslesuser %}
<option value="{{ someuser['id'] }}">{{ someuser['username'] }}</option>{% endfor %}
</select></div>
<div class="field"><label for="somefieldreconnaitphotopic">pic</label><input type="file" id="somefieldreconnaitphotopic" name="pic"/></div>
<div class="field"><label for="somefieldreconnaitphotoface_recognized">face_recognized</label><input type="text" id="somefieldreconnaitphotoface_recognized" name="face_recognized"/></div><div class="actions"><input type="submit"/></div></form>

<div class="row row-cols-1 row-cols-md-2 g-4">
{% for x in reconnaitphotos %}

  <div class="col" style="max-width:300px;">
    <div class="card">
	    <img src="/static/photos/{{ x["pic"] }}" class="card-img-top" alt="...">
      <div class="card-body">
	      <h5 class="card-title">authentification de {{x["username"]}} </h5>
        <p class="card-text">{{ x["face_recognized"] }}</p>
      </div>
    </div>
  </div>{% endfor %}
</div>

{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_reconnaitphoto"> add one reconnaitphoto</a>{% endblock %}
